*{
    margin: 0;
    padding: 0;
}
.top-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    float: right;
}
.top-bar h5{
    font-size: 80px;
    font-family: fantasy;
}